
/* Your CSS Code here. */
header{
	background-color:black;
	color:white;
	text-align:center;
}
.navbar li a{
	text-decoration:none;
	color:white;
	list-style:none;
}
.navbar li{
	list-style:none;
}
.navbar #nav-actor{
padding:30px
}