
/* Your CSS Code here. */
header{
	background-color:#79adf3;
	color:white;
	text-align:center;
}
.navbar a{
	text-decoration:none;
	color:white;
}
#quote{
	background-color:lightcoral;
	border:1px solid green;
	border-radius:5px;
	padding:10px;
}
#quote h3{
	color:Yellow;
}